/* line 1, ../sass/_menu2.scss */
html, body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_menu2.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 10, ../sass/_menu2.scss */
.container {
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../sass/_menu2.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #2e7d32;
}

/* line 22, ../sass/_menu2.scss */
.header__icon {
  font-weight: bold;
  padding: 0 25px;
  float: left;
}

/* line 28, ../sass/_menu2.scss */
.menu {
  float: left;
}
/* line 30, ../sass/_menu2.scss */
.menu a {
  padding: 0 10px;
}

@media only screen and (max-width: 750px) {
  /* line 2, ../sass/_menu.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 3, ../sass/_menu.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 4, ../sass/_menu.scss */
  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  /* line 10, ../sass/_menu.scss */
  .header {
    position: static;
  }

  /* line 12, ../sass/_menu.scss */
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }

  /* line 21, ../sass/_menu.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  }

  /* line 32, ../sass/_menu.scss */
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #2a378b;
    width: 450px;
    transform: translateX(450px);
  }

  /* line 44, ../sass/_menu.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #303f9f;
  }

  /* line 52, ../sass/_menu.scss */
  .with--sidebar .site-pusher {
    transform: translateX(-450px);
  }

  /* line 56, ../sass/_menu.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
